body {


    background: url('http://clevertechie.com/img/bnet-bg.jpg') #0f2439 no-repeat;



}


.login_form {
    margin-top: 350px;
    box-sizing: content-box;
}

input {
    width: 100%;
}

textarea {

    width: 100%;
}

::-webkit-input-placeholder {
    text-align: center;
}

#login_name {

    margin-left: 122px;
    font-family: 'Julius Sans One', sans-serif;
}


#admin_panel {
    font-family: 'Julius Sans One', sans-serif;
    margin-left: 420px;
    margin-top: 50px;
}

.create_button {
    width: 5%;
    margin-left: 1054px;


}

table, td, tr, th {



    color: white;

}


table {
    width: 100%;
    margin-top: 30px;

}


h1 {
    color: white;
}


.action_buttons {

background-color: unset;
}

#text {
    width: 65%;
}

#date {
    width: 15%;
}
textarea {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}